<a href="https://colab.research.google.com/github/tavi1402/Data_Science_bootcamp/blob/main/Assignment_6_data_analysis_visualization_practice_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment - Data Analysis and Visualization Practice

This assignment is part of the *Data Science Bootcamp* by Jovian

As you go through this notebook, you will find the symbol **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions, or statements to ensure that the notebook runs properly end-to-end.

**Guidelines**

1. Make sure to run all the code cells in order. Otherwise, you may get errors like `NameError` for undefined variables.
2. Do not change variable names, delete cells, or disturb other existing code. It may cause problems during evaluation.
3. In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**.
4. Since you'll be using a temporary online service for code execution, save your work by pressing `Command/CTRL + s` at regular intervals.
5. Questions marked **(Optional)** will not be considered for evaluation and can be skipped. They are for your learning.


**How to Get Help**

If you are stuck, you can ask for help on the Bootcamp Slack group. Post errors, ask for hints, and help others. Follow these guidelines for getting help:

- Try to spend at least 20 minutes solving a problem before asking for help. But if you've been stuck on a problem for more than 2 hours, please ask for help!
- When you ask a question, make sure to explain what you have tried already and share your code and results if possible. This makes it easy for others to help you faster.
- Try to be as specific as possible when asking a question. E.g. "I can't solve question 3" is too vague. "I can't figure out how to create separate lines for different countries in question 1. Here's what I've tried: ..." is specific enough.
- Help others by resolving their errors, suggesting the correct approaches and sharing relevant resources. **Please don't share a complete working solution code on Slack** to give others a chance to solve the problem themselves.

## How to run the code and save your work


**Option 1: Running using free online resources (1-click, recommended):** The easiest way to start executing the code is to click the **Run** button at the top of this page and select **Run on Colab**. [Follow these instructions](https://jovian.ai/docs/user-guide/run.html#run-on-colab) to connect your Google Drive with Jovian.


**Option 2: Running on your computer locally:** To run the code on your computer locally, you'll need to set up [Python](https://www.python.org), download the notebook and install the required libraries. We recommend using the [Conda](https://docs.conda.io/projects/conda/en/latest/user-guide/install/) distribution of Python. Click the **Run** button at the top of this page, select the **Run Locally** option, and follow the instructions.

**Saving your work**: You can save a snapshot of the assignment to your [Jovian](https://jovian.ai) profile, so that you can access it later and continue your work. Keep saving your work by pressing `Command/CTRL + s` from time to time.

Let's begin by installing and importing the required libraries.

In [ ]:
#restart the kernel after installation
!pip install numpy pandas-profiling matplotlib seaborn plotly folium opendatasets wordcloud --quiet --upgrade

In [ ]:
import numpy as np
import pandas as pd
import opendatasets as od
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import folium
import wordcloud

> **QUESTION 1 (Line Chart)**: The Gapminder dataset provides population data from 1952 to 2007 (at 5 year intervals) for several countries around the world. Compare the populations of the European countries France, United Kingdom, Italy, Germany and Spain over this period using a line chart. Make appropriate modifications to the chart title, axis titles, legend, figure size, font size, colors etc. to make the chart readable and visually appealing.
>
> Hints (not all of these may be useful):
>
> - You can use either Matplotlib or Plotly to create this chart
> - To select the data for the given countries, you may find the `isin` method of a Pandas series useful

In [ ]:
gapminder_url = 'https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv'

In [ ]:
gapminder_df = pd.read_csv(gapminder_url)

In [ ]:
gapminder_df

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
countries = ['France', 'United Kingdom', 'Italy', 'Germany', 'Spain']

In [ ]:
???

Let's save our work before continuing. Press `Command/CTRL + s`

> **QUESTION 2 (Scatter Plot)**: `diamonds_url` points to a CSV file containing various attributes like carat, cut, color, clarity, price etc. for over 53,000 diamonds. Visualize the relationship between the carat (size of diamond) and price using a scatter plot. Instead of using the entire dataset for this visualization, just pick the diamonds with a clarity `"SI2"` and color `"E"`. Use the values of the "cut" column to color the dots in the scatter plot. Make appropriate modifications to the chart title, axis titles, legend, figure size, font size, colors etc. to make the chart readable and visually appealing.
>
> Hints (not all of these may be useful):
> - You can use Seaborn or Plotly to create the scatter plot for this dataset
> - Check [this stackoverflow answer](https://stackoverflow.com/questions/22591174/pandas-multiple-conditions-while-indexing-data-frame-unexpected-behavior) for selecting data frame rows using multiple conditions.

In [ ]:
diamonds_url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv'

In [ ]:
diamonds_df = pd.read_csv(diamonds_url)

In [ ]:
diamonds_df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [ ]:
???

Let's save our work before continuing. Press `Command/CTRL + s`

> **QUESTION 3 (Histogram and Box Plot):** The Planets dataset contains details about the 1,000+ extrasolar planets discovered up to 2014. Visualize the distribution of the masses of the planets (expressed as a multiple of the mass of Jupiter), using a histogram and a box plot. Make appropriate modifications to the chart title, axis titles, legend, figure size, font size, colors etc. to make the chart readable and visually appealing.
>
> Hints:
>
> - You use use Matplotlib, Seaborn or Plotly to create these plots
> - If you're using Plotly, you can show both charts together (use the `marginal` argument of `px.histogram`)

In [ ]:
planets_csv = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/planets.csv'

In [ ]:
planets_df = pd.read_csv(planets_csv)

In [ ]:
planets_df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [ ]:
???

> **(Optional) Question** Answer the following questions:
>
> - Is the distribution of planet mass an exponential or gaussian?
> - What is the median exoplanet mass? How does it compare to the maximum?
> - How does the mass of a planet compare with its orbital period? Visualize their relationship using a scatter plot.

Let's save our work before continuing. Press `Command/CTRL + s`

> **QUESTION 4 (Bar Chart):** The Job Automation Probability dataset, created during a [Future of Employment study from 2013](https://www.oxfordmartin.ox.ac.uk/downloads/academic/The_Future_of_Employment.pdf), estimates the probability of different jobs being automated in the 21st century due to computerization. Crate a bar chart to show the 25 jobs requiring a "Bachelor's degree" (and no higher qualification) that are most likely to be automated. Make appropriate modifications to the chart title, axis titles, legend, figure size, font size, colors etc. to make the chart readable and visually appealing.

In [ ]:
job_automation_url = 'https://raw.githubusercontent.com/plotly/datasets/master/job-automation-probability.csv'

In [ ]:
job_automation_df = pd.read_csv(job_automation_url)

In [ ]:
job_automation_df

,_ - rank,_ - code,prob,Average annual wage,education,occupation,short occupation,len,probability,numbEmployed,median_ann_wage,employed_may2016,average_ann_wage
0,624,51-4033,0.9500,34920.0,High school diploma or equivalent,"Grinding, Lapping, Polishing and Buffing Machi...","Tool setters, operators and tenders",35,0.9500,74600,32890.0,74600,34920.0
1,517,51-9012,0.8800,41450.0,High school diploma or equivalent,"Separating, Filtering, Clarifying, Precipitati...","Tool setters, operators and tenders",35,0.8800,47160,38360.0,47160,41450.0
2,484,41-4012,0.8500,68410.0,High school diploma or equivalent,"Sales Representatives, Wholesale and Manufactu...","Sales Representatives, Wholesale and Manufactu...",92,0.8500,1404050,57140.0,1404050,68410.0
3,105,53-1031,0.0290,59800.0,High school diploma or equivalent,First-Line Supervisors of Transportation and M...,Supervisors Transportation,26,0.0290,202760,57270.0,202760,59800.0
4,620,51-4072,0.9500,32660.0,High school diploma or equivalent,"Molding, Coremaking and Casting Machine Setter...","Molding, Coremaking and Casting Machine Setter...",89,0.9500,145560,30480.0,145560,32660.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,259,27-2011,0.3700,71313.6,"Some college, no degree",Actors,Actors,6,0.3700,48620,33473.0,48620,71313.6
698,522,51-3011,0.8900,27110.0,No formal educational credential,Bakers,Bakers,6,0.8900,180450,25090.0,180450,27110.0
699,42,21-2011,0.0081,49450.0,Bachelor's degree,Clergy,Clergy,6,0.0081,49320,45740.0,49320,49450.0
700,669,41-9012,0.9800,36560.0,No formal educational credential,Models,Models,6,0.9800,4390,21870.0,4390,36560.0
701,344,47-2082,0.6200,53790.0,No formal educational credential,Tapers,Tapers,6,0.6200,18480,48990.0,18480,53790.0

> **(Optional) Question:** What other insights can you derive from the above data. Create some more visualizations and summarize your insights below.

Let's save our work before continuing. Press `Command/CTRL + s`

> **QUESTION 5 (Geographical Map):** `nuclear_waste_url` points to a CSV file containing the locations of several nuclear waste storage sites in the United States. Show these sites as markers on a map of the United States. Clicking on a marker should display the name of the site. Pick the appropriate location, Zoom level and images tiles for the map.

In [ ]:
nuclear_waste_url = 'https://raw.githubusercontent.com/plotly/datasets/master/Nuclear%20Waste%20Sites%20on%20American%20Campuses.csv'

In [ ]:
nuclear_waste_df = pd.read_csv(nuclear_waste_url)

In [ ]:
nuclear_waste_df

          lat         lon                                               text
0   35.888827 -106.305022                                 Acid/Pueblo Canyon
1   39.503487  -84.743859                                    Alba Craft Shop
2   44.620822 -123.120917                      "Albany, Oregon, FUSRAP Site"
3   40.641371  -80.242936                                    Aliquippa Forge
4   39.361063  -84.540750     Associated Aircraft Tool and Manufacturing Co.
5   39.957354  -83.011455                                       B & T Metals
6   41.672189  -83.568625                                     Baker Brothers
7   40.746102  -74.006642                      Baker and Williams Warehouses
8   35.899725 -106.290127             "Bayo Canyon, New Mexico, FUSRAP Site"
9   42.841147  -78.834060                           Bliss and Laughlin Steel
10  41.888102  -84.016479                               Bridgeport Brass Co.
11  40.537611  -79.782094                                       C.H. Schnorr
12  42.154201  -72.499778                                      Chapman Valve
13  34.214928 -105.879321          "Chupadera Mesa, New Mexico, FUSRAP Site"
14  38.687031  -90.167362                   "Dow Chemical Co., Madison Site"
15  38.692620  -90.162290                           General Steel Industries
16  37.872571 -122.256179  "Gilman Hall, University of California at Berk...
17  39.382248  -84.547111                                   Hamilton OH Site
18  40.708736  -74.101281                            Jersey City FUSRAP Site
19  40.577768  -74.496564                               Middlesex North Site
20  41.798684  -87.606937                              National Guard Armory
21  40.470280  -74.476254                   "New Brunswick, NJ, FUSRAP Site"
22  43.220906  -78.973731                  Niagara Falls Vicinity Properties
23  36.042730  -84.206653                    "Oak Ridge, TN, Warehouse Site"
24  41.400790  -73.072232                             Seymour Specialty Wire
25  42.991837  -78.920101                        Tonawanda North FUSRAP Site
26  41.792480  -87.601036     University of Chicago Metallurgical Laboratory
27  42.540470  -70.888808                                Ventron Corporation
28  40.969628  -74.270779                                  Wayne FUSRAP Site

In [ ]:
???

Let's save our work before continuing. Press `Command/CTRL + s`

## LeetCode Problems

### [Problem 1626](https://leetcode.com/problems/best-team-with-no-conflicts/) - Best Team With No Conflicts

You are the manager of a basketball team. For the upcoming tournament, you want to choose the team with the highest overall score. The score of the team is the **sum** of scores of all the players in the team.

However, the basketball team is not allowed to have **conflicts**. A **conflict** exists if a younger player has a **strictly higher** score than an older player. A conflict does **not** occur between players of the same age.

Given two lists, `scores` and `ages`, where each `scores[i]` and `ages[i]` represents the score and age of the i<sup>th</sup> player, respectively, return the highest overall score of all possible basketball teams.

**Example 1:**
```
Input: scores = [1,3,5,10,15], ages = [1,2,3,4,5]
Output: 34
Explanation: You can choose all the players.
```

**Example 2:**
```
Input: scores = [4,5,6,5], ages = [2,1,2,1]
Output: 16
Explanation: It is best to choose the last 3 players. Notice that you are
allowed to choose multiple people of the same age.
```

**Example 3:**
```
Input: scores = [1,2,3,5], ages = [8,9,10,1]
Output: 6
Explanation: It is best to choose the first 3 players.
```

**Constraints:**
```
1 <= scores.length, ages.length <= 1000
scores.length == ages.length
1 <= scores[i] <= 106
1 <= ages[i] <= 1000
```

In [ ]:
def bestTeamScore(scores, ages):
    ???

In [ ]:
# This should return "True"
bestTeamScore([1,3,5,10,15], [1,2,3,4,5]) == 34

In [ ]:
# This should return "True"
bestTeamScore([4,5,6,5], [2,1,2,1]) == 16

In [ ]:
# This should return "True"
bestTeamScore([1,2,3,5], [8,9,10,1]) == 6

### [Problem 16](https://leetcode.com/problems/3sum-closest/) - 3Sum Closest

Given an integer array `nums` of length `n` and an integer `target`, find three integers in `nums` such that the sum is closest to `target`.

Return the sum of the three integers.

You may assume that each input would have exactly one solution.

**Example 1:**
```
Input: nums = [-1,2,1,-4], target = 1
Output: 2
Explanation: The sum that is closest to the target is 2. (-1 + 2 + 1 = 2).
```

**Example 2:**
```
Input: nums = [0,0,0], target = 1
Output: 0
Explanation: The sum that is closest to the target is 0. (0 + 0 + 0 = 0).
```

**Constraints:**
```
3 <= nums.length <= 500
-1000 <= nums[i] <= 1000
-104 <= target <= 104
```

In [ ]:
def threeSumClosest(nums, target):
    ???

In [ ]:
# This should return "True"
threeSumClosest([-1,2,1,-4], 1) == 2

In [ ]:
# This should return "True"
threeSumClosest([0,0,0], 1) == 0

You can submit any number of times. Only your final submission will be considered for evaluation.

The remaining questions in this assignment are optional.

## Optional Questions

> **(OPTIONAL) QUESTION 7:**  The following dataset contains information about some police deaths in US from 1984 to 2016. Create the following visualizations using this dataset.
>
> 1. Bar chart showing the total deaths per year for 1984-2016
> 2. Line chart comparing the yearly deaths in different states
> 3. A heat map overlaid on the map of the United States
> 4. A Choropleth comparing the number of police deaths in different states
> 5. A word cloud of the different causes of death (remove the string "Cause of Death:" for best results)
> 6. A [marker cluster](https://georgetsilva.github.io/posts/mapping-points-with-folium/) showing the shootings in the state of California (show person's name on hover)
> 7. Bar chart comparing the no. of deaths due to different causes, animated by year
> 8. A heatmap of total deaths per state per year i.e. showing "state" on one axis and "year" on the other axis.
> 9. A treemap with three levels: state, city (description), cause
> 10. A rug plot showing a timeline of canine deaths.

In [ ]:
police_url = 'https://raw.githubusercontent.com/plotly/datasets/master/US-shooting-incidents.csv'
police_df = pd.read_csv(police_url)

In [ ]:
police_df

,Unnamed: 0,person,dept,eow,cause,cause_short,date,year,canine,dept_name,state,description,latitude,longitude,state_name
0,1,K9 Roscoe,"Phoenix Police Department, AZ","EOW: Friday, July 13, 1984",Cause of Death: Struck by vehicle,Struck by vehicle,1984-07-13,1984,True,Phoenix Police Department,AZ,Phoenix,33.448143,-112.096962,Arizona
1,2,"Police Officer Roy L. Leon, Jr.","Cotton Plant Police Department, AR","EOW: Friday, July 13, 1984",Cause of Death: Gunfire,Gunfire,1984-07-13,1984,False,Cotton Plant Police Department,AR,Little Rock,34.746613,-92.288986,Arkansas
2,3,Officer Stanley D. Pounds,"Portland Police Bureau, OR","EOW: Wednesday, July 18, 1984",Cause of Death: Automobile accident,Automobile accident,1984-07-18,1984,False,Portland Police Bureau,OR,Salem,44.938461,-123.030403,Oregon
3,4,"Enforcement Agent Ernest Joseph Gray, Jr.","Pennsylvania Public Utility Commission, PA","EOW: Friday, July 20, 1984",Cause of Death: Automobile accident,Automobile accident,1984-07-20,1984,False,Pennsylvania Public Utility Commission,PA,Harrisburg,40.264378,-76.883598,Pennsylvania
4,5,"Police Officer James W. Carozza, Jr.","Greenburgh Police Department, NY","EOW: Friday, July 20, 1984",Cause of Death: Vehicle pursuit,Vehicle pursuit,1984-07-20,1984,False,Greenburgh Police Department,NY,Albany,42.652843,-73.757874,New York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,4995,"Deputy Sheriff David Francis Michel, Jr.","Jefferson Parish Sheriff's Office, LA","EOW: Wednesday, June 22, 2016",Cause of Death: Gunfire,Gunfire,2016-06-22,2016,False,Jefferson Parish Sheriff's Office,LA,Baton Rouge,30.457069,-91.187393,Louisiana
4995,4996,K9 Tyson,"Fountain County Sheriff's Office, IN","EOW: Monday, June 27, 2016",Cause of Death: Heat exhaustion,Heat exhaustion,2016-06-27,2016,True,Fountain County Sheriff's Office,IN,Indianapolis,39.768623,-86.162643,Indiana
4996,4997,K9 Credo,"Long Beach Police Department, CA","EOW: Tuesday, June 28, 2016",Cause of Death: Gunfire (Accidental),Gunfire (Accidental),2016-06-28,2016,True,Long Beach Police Department,CA,Sacramento,38.576668,-121.493629,California
4997,4998,"Deputy Sheriff Martin Tase Sturgill, II","Humphreys County Sheriff's Office, TN","EOW: Thursday, June 30, 2016",Cause of Death: Heart attack,Heart attack,2016-06-30,2016,False,Humphreys County Sheriff's Office,TN,Nashville,36.165810,-86.784241,Tennessee
4998,4999,K9 Roscoe,"Emmett Police Department, ID","EOW: Friday, July 1, 2016",Cause of Death: Automobile accident,Automobile accident,2016-07-01,2016,True,Emmett Police Department,ID,Boise,43.617775,-116.199722,Idaho

## Acknowledgement

The datasets in this assignment are taken from the following sources:

* Seaborn datasets: https://github.com/mwaskom/seaborn-data
* Plotly datasets: https://github.com/plotly/datasets
* Five Thirty Eight datasets: https://github.com/fivethirtyeight/data

Check this links for many more datasets that can be used for data analysis and visualization.