<a href="https://colab.research.google.com/github/tavi1402/Data_Science_bootcamp/blob/main/Assignment_8_sql_practice_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment - SQL Querying Practice

As you go through this notebook, you will find the symbol **???** in certain places. Your job is to replace the **???** with appropriate code or values, to ensure that the notebook runs properly end-to-end without errors.

**Guidelines**

1. Make sure to run all the code cells in order. Otherwise, you may get errors like `NameError` for undefined variables.
2. Do not change variable names, delete cells, or disturb other existing code. It may cause problems during evaluation.
3. In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**.
4. Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
5. Review the "Evaluation Criteria" for the assignment carefully and make sure your submission meets all the criteria.
6. Questions marked **(Optional)** will not be considered for evaluation and can be skipped. They are for your learning. You can crosscheck your solutions for optional questions here: https://jovian.ai/himani007/optional-questions-solutions
7. It's okay to ask for help & discuss ideas on the [Slack Group](https://zerotodatascience.com), but please don't post the full working code, to give everyone an opportunity to solve the assignment on their own.

## How to Run the Code and Save Your Work


**Option 1: Running using free online resources (1-click, recommended):** The easiest way to start executing the code is to click the **Run** button at the top of this page and select **Run on Binder**. This will set up a cloud-based Jupyter notebook server and allow you to modify/execute the code.


**Option 2: Running on your computer locally:** To run the code on your computer locally, you'll need to set up [Python](https://www.python.org), download the notebook and install the required libraries. Click the **Run** button at the top of this page, select the **Run Locally** option, and follow the instructions.

**Saving your work**: You can save a snapshot of the assignment to your [Jovian](https://jovian.ai) profile, so that you can access it later and continue your work. Keep saving your work by running `jovian.commit` from time to time.

In [ ]:
!pip install jovian --upgrade --quiet

In [ ]:
import jovian

In [ ]:
jovian.commit(project='sql-practice-assignment', privacy='secret')

## SQLite and Initial Setup

Relational databases generally have two components:

1. **Database Server/Engine**: A software package that manages databases and runs in the background, listening for SQL queries from authorized users E.g. MySQL server, Microsoft SQL server, Postgres etc.
2. **Database Client**: A command-line tool or graphical user interface (GUI) to connect to the database server and run SQL queries. E.g. MySQL workbench, PgAdmin etc.

The server and client can be on the same computer e.g. both on your laptop, or on different computers e.g. the database server can be running on the cloud and you can connect to it using a client installed on your computer.

Most database servers/engines are designed to operate on databases containing large amounts of data (e.g. 100s of GBs) and to handle a very high volume of queries (e.g. thousands of queries per second). They typically require powerful hardware i.e. multi-core CPUs and large amounts of RAM.


<img src="https://www.sqlite.org/images/sqlite370_banner.gif" width="240" style="margin-left:0">

In this assignment, however, we'll use a lightweight database engine called [SQLite](https://www.sqlite.org/index.html), which is well-suited for databases with small amounts of data and has very limited CPU & RAM requirements. Despite being limited in its capabilities, it is the [most widely used database engine in the world](https://www.sqlite.org/mostdeployed.html). SQLite is used by smartphone apps, web browsers, desktop applications, IoT devices etc. to store and manage data locally on the device.

If you're running this assignment locally, you'll need to [download and install `sqlite3`](https://www.servermania.com/kb/articles/install-sqlite/) on your computer. `sqlite3` is already installed on Binder. You can verify that you have `sqlite3` installed by running the following command to show the version of SQLite you have installed:

In [ ]:
!sqlite3 --version

3.36.0 2021-06-18 18:36:39 5c9a6c06871cb9fe42814af9c039eb6da5427a6ec28f187af7ebfb62eafa66e5

Unlike other relational databases, SQLite doesn't have separate server and client packages. The `sqlite3` command line tool is all your need to create and interact with SQLite databases. The databases themselves are stored as files with the extension `.sqlite`. You can perform CRUD operations on the database simply by passing SQL queries using `sqlite3`.

Here's a visual representation of how SQLite differs from other relational database servers ([source](https://devopedia.org/sqlite)):

<img src="https://i.imgur.com/eC5Ieni.png" width="640">


Note that a `.sqlite` file is different from a `.sql` file, which contains commands for creating tables and inserting data. The `.sqlite` file is the actual database where the data is stored in a binary tabular format for efficient querying and manipulation.

In this assignment, we'll use the [Chinook open source database](https://github.com/lerocha/chinook-database). Let's begin by downloading the `.sqlite` file for the database containing all the required tables and the sample data.

In [ ]:
from urllib.request import urlretrieve

In [ ]:
db_url = 'https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite'

In [ ]:
urlretrieve(db_url, 'chinook.sqlite')

('chinook.sqlite', <http.client.HTTPMessage at 0x7ff06e8d4860>)

The database `chinook.sqlite` is now downloaded. To access and interact with the database by writing SQL queries directly within Jupyter, we'll use the [`ipython-sql`](https://pypi.org/project/ipython-sql/) library that provides the `%%sql` magic commands. It uses the [`sqlalchemy`](https://sqlalchemy.org) library behind the scenes to interact with the database.

In [ ]:
!pip install ipython-sql --quiet --upgrade

In [ ]:
!pip install sqlalchemy --quiet

In [ ]:
%load_ext sql

We can now connect to the database using a [SQLAlchemy connection string](https://docs.sqlalchemy.org/en/14/core/engines.html). We'll use the `%%sql` Jupyter magic command.

In [ ]:
%%sql

sqlite:///chinook.sqlite

We are now connected to the database and we can start writing SQL queries.

## Chinook Database Structure and Queries

The Chinook database represents a digital media store, including tables for artists, albums, media tracks, invoices and customers. Here's an [Entity Relationship Diagram](https://www.guru99.com/er-diagram-tutorial-dbms.html) (ERD) showing the structure of the Chinook database:

![](https://i.imgur.com/X1wM142.png)

Let's begin by looking at the data from some of the tables in the database. We can write SQL queries directly within Jupyter code cells by including the magic command `%%sql` as the first line of the cell, indicating that contents of cell represent a SQL query.

In [ ]:
%%sql

SELECT * FROM Artist LIMIT 5

 * sqlite:///chinook.sqlite
Done.

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains')]

In [ ]:
%%sql

SELECT * FROM Album LIMIT 5

 * sqlite:///chinook.sqlite
Done.

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3)]

## Selection and Ordering

> **QUESTION 1**: Write a SQL query to sort the rows from the table `Track` in alphabetical order of Track name and display the first 10 rows. Replace the `???` in the cell below with your answer.

In [ ]:
%%sql

???

In [ ]:
# USED FOR EVALUATION. DON'T MODIFY/DELETE/MOVE THIS CELL!
ans1 = _

(OPTIONAL) Write a SQL query to show the _next 10_ rows based on the above criteria.

(OPTIONAL) Write some SQL queries in the cells below to explore the first few rows of each table in the database.

Let's save our work before continuing.

In [ ]:
jovian.commit()

## Counting

> **QUESTION 2**: Write a SQL query to calculate the total number of employees working at Chinook.

In [ ]:
%%sql

???

In [ ]:
# DON'T MODIFY THIS CELL! IT IS USED FOR EVALUATION.
ans2 = _

(OPTIONAL) Write SQL queries to calculate the total number customers, total number of artists and total number of tracks in the database.

Let's save our work before continuing.

In [ ]:
jovian.commit()

## Aggregation and Grouping

> **QUESTION 3**: Write a SQL query to show the top 10 albums with the highest number of tracks. The result should contain 2 columns: album ID and number of tracks in the album (name the column "Tracks"). Here are the first few rows of the result:
> <img src="https://i.imgur.com/0vGhVMZ.png" width="120">

In [ ]:
%%sql

???

In [ ]:
# DON'T MODIFY THIS CELL! IT IS USED FOR EVALUATION.
ans3 = _

(OPTIONAL) Improve the above query to also show the album name, artist ID and artist name. Enter the updated query in the empty cell below.

(OPTIONAL) List the top 10 albums with the highest number of tracks.

(OPTIONAL) List the top 10 artists with the highest number of tracks.

Let's save our work before continuing.

In [ ]:
jovian.commit()

## Functions and Joins

> **QUESTION 4**: Show a list of the top 10 customer with the highest total spend in 2012. Calculate the total amount spent by each customer by adding the totals from all their invoices in the year 2012. Order the list by the invoice total (decreasing order). The result should contain the rows CustomerId, FirstName, LastName and TotalSpend. Here are the first few rows of the result:
> <img src="https://i.imgur.com/rayPKc3.png" width="480">
>
>
> *Note*: SQLite doesn't support the `YEAR` function. Instead use `strftime("%Y", Invoice.InvoiceDate)` to extract the year from the column `InvoiceDate` as a string. [Learn more.](https://www.w3resource.com/sqlite/sqlite-strftime.php)
>
> _Hint_: First try to write down a step-by-step solution to the problem in plain English, and then try to convert it to a SQL query. Use the empty cells below to experiment with intermediate queries.

In [ ]:
%%sql

???

In [ ]:
# DON'T MODIFY OR MOVE THIS CELL! IT IS USED FOR EVALUATION.
ans4 = _

Let's save our work before continuing.

In [ ]:
jovian.commit()

## Joins and Arithmetic Operations

> **QUESTION 5**: Write a SQL query to show the total number of albums and the average number of tracks per album for every artist. The result should include the artist ID, artist's name, total albums (name the column "Albums") and average tracks per album (name the column "TracksPerAlbum"). Sort the results in alphabetical order of artist name. Here are the first few rows of the result:
>
> <img src="https://i.imgur.com/WAE7oOx.png" width="640">
>
> *Hint*: While dividing two integers, multiply one of the numbers by 1.0 to convert them into floats. [Learn more.](https://stackoverflow.com/questions/8305613/converting-int-to-real-in-sqlite)

In [ ]:
%%sql

???

In [ ]:
# DON'T MODIFY OR MOVE THIS CELL! IT IS USED FOR EVALUATION.
ans5 = _

Let's save our work before continuing.

In [ ]:
jovian.commit()

(OPTIONAL) Write a SQL query to display the top 10 highest grossing tracks in 2012. The result should contain the track ID, track name, number of units sold, and the total revenue from the track in 2012. *Hint*: Use the `InvoiceLine` table.

Let's save our work before continuing.

In [ ]:
jovian.commit()

## Joining Multiple Tables

> **QUESTION 6:** Show the following information for all the tracks by the Artist "Metallica": Track ID, Track Name, Album Title, Artist Name, Composer, Media Type, Genre and track length in milliseconds. Order the tracks in alphabetical order of album names.
>
> Here are the first few rows of the expected result:
>
> <img src="https://i.imgur.com/Ovhm9Nh.png" width="640">

In [ ]:
%%sql

???

In [ ]:
# DON'T MODIFY OR MOVE THIS CELL! IT IS USED FOR EVALUATION.
ans6 = _

(OPTIONAL) Modify the above query to show the length of each track in the "MM:SS" format i.e. "03:15". Enter the updated query in the empty cell below.

(OPTIONAL) Modify the above query to include the total revenue from the sales of each track. Enter the updated query in the empty cell below.

Let's save our work before continuing.

In [ ]:
jovian.commit()

## Table Creation  and Foreign Keys

> **QUESTION 7**: Create a new table `HallOfFame` to track the list of artists who have been added into the Chinook Hall of Fame. The table should contain three columns:
>
> 1. `HallOfFameId` (int): Primary key with [Auto Increment](https://www.sqlite.org/autoinc.html)
> 2. `ArtistId` (int): Foreign key (from the Artist table)
> 3. `YearAdded` (int): The year the artist was added to the hall of fame
>
> Once created, add 5 entries to the table (any artists of your choice).

In [ ]:
%%sql

???

In [ ]:
%%sql

???

Once the table is created and records have been inserted, you can view the list of artists in the hall of fame using the following query.

In [ ]:
%%sql

SELECT * FROM HallOfFame JOIN Artist ON HallOfFame.ArtistId=Artist.ArtistId

In [ ]:
# DON'T MODIFY OR MOVE THIS CELL! IT IS USED FOR EVALUATION.
ans7 = _

Let's save our work before continuing.

In [ ]:
jovian.commit()

## Inserting Data into Tables

> **QUESTION 8**: Write SQL queries to insert the following records into the database:
>
> 1. A new artist called "Linkin Park"
> 2. Two new albums for the artist Linkin Park:
>     1. Hybrid Theory
>     2. Meteora
> 3. Six new tracks (come up with sensible values for columns like Composer, Milliseconds etc.):
>     1. Papercut (in the album Hybrid Theory)
>     2. In The End (in the album Hybrid Theory)
>     3. Crawling (in the album Hybrid Theory)
>     4. Somewhere I Belong (in the album Meteora)
>     5. Numb (in the album Meteora)
>     6. Breaking the Habit (in the album Meteora)
>
> *Hint*: You need not provide a value for the ID (primary key) columns while inserting these rows, because the ID columns are marked as [AUTO INCREMENT](https://www.sqlite.org/autoinc.html) and will automatically be assigned the next available numeric value.

Here's the query to insert a new artist:

In [ ]:
%%sql

INSERT INTO Artist (Name) VALUES ("Linkin Park")

Write the query to insert the new albums below:

In [ ]:
%%sql

???

Write the query to insert the new tracks below:

In [ ]:
%%sql

???

Make sure to insert exactly one copy of each of the above records. If you've inserted multiple copies, delete the extra rows before submitting.

If the records were inserted properly, you should be able to retrieve them back using the following queries.

In [ ]:
%%sql

SELECT * FROM Artist WHERE Name="Linkin Park"

In [ ]:
# DON'T MODIFY OR MOVE THIS CELL! IT IS USED FOR EVALUATION.
ans8a = _

In [ ]:
%%sql

SELECT * FROM Album JOIN Artist on Album.ArtistId=Artist.ArtistId WHERE Artist.Name="Linkin Park"

In [ ]:
# DON'T MODIFY OR MOVE THIS CELL! IT IS USED FOR EVALUATION.
ans8b = _

In [ ]:
%%sql

SELECT *
    FROM Track JOIN Album
    ON Track.AlbumId=Album.AlbumId
    JOIN Artist
    ON Album.ArtistId=Artist.ArtistId
    WHERE Artist.Name="Linkin Park"

In [ ]:
# DON'T MODIFY OR MOVE THIS CELL! IT IS USED FOR EVALUATION.
ans8c = _

Let's save our work before continuing. Press `cntrl/cmd + s` to save your work.

## LeetCode Problems

### Question 9

[Problem 171](https://leetcode.com/problems/excel-sheet-column-number/) - Excel Sheet Column Number
Given a string `columnTitle` that represents the column title as appears in an Excel sheet, return its corresponding column number.

For example:
```
A -> 1
B -> 2
C -> 3
...
Z -> 26
AA -> 27
AB -> 28
...
```
Example 1:
```
Input: columnTitle = "A"
Output: 1
```
Example 2:
```
Input: columnTitle = "AB"
Output: 28
Example 3:

Input: columnTitle = "ZY"
Output: 701
```
Constraints:
```
1 <= columnTitle.length <= 7
columnTitle consists only of uppercase English letters.
columnTitle is in the range ["A", "FXSHRXW"].
```

In [ ]:
def titleToNumber(columnTitle):
    ???

In [ ]:
# This should return "True"
titleToNumber("A") == 1

In [ ]:
# This should return "True"
titleToNumber("AB") == 28

In [ ]:
# This should return "True"
titleToNumber("ZY") == 701

### Question 10

[Problem 859](https://leetcode.com/problems/buddy-strings/) - Buddy Strings

Given two strings `s` and `goal`, return `true` if you can swap two letters in `s` so the result is equal to `goal`, otherwise, return `false`.

Swapping letters is defined as taking two indices `i` and `j` (0-indexed) such that `i != j` and swapping the characters at `s[i]` and `s[j]`.

For example, swapping at indices `0` and `2` in `"abcd"` results in `"cbad"`.


Example 1:
```
Input: s = "ab", goal = "ba"
Output: true
Explanation: You can swap s[0] = 'a' and s[1] = 'b' to get "ba", which is equal to goal.
```
Example 2:
```
Input: s = "ab", goal = "ab"
Output: false
Explanation: The only letters you can swap are s[0] = 'a' and s[1] = 'b', which results in "ba" != goal.
```
Example 3:
```
Input: s = "aa", goal = "aa"
Output: true
Explanation: You can swap s[0] = 'a' and s[1] = 'a' to get "aa", which is equal to goal.
```

Constraints:
```
1 <= s.length, goal.length <= 2 * 104
s and goal consist of lowercase letters.
```

In [ ]:
def buddyStrings(s, goal):
    ???

In [ ]:
# This should return "True"
buddyStrings("ab","ba") == True

In [ ]:
# This should return "True"
buddyStrings("ab","ab") == False

In [ ]:
# This should return "True"
buddyStrings("aa","aa") == True

## Make a Submission

To make a submission, you can submit your Jovian notebook link on the assignment 'submit' page.

You can make any number of submissions. Only your final submission will be considered for grading.

Here are some more optional questions you can try solving: https://github.com/LucasMcL/15-sql_queries_02-chinook